<!-- checks if succes is there and is not empty -->
<% if(success && success.length) { %>
<div class="alert alert-success alert-dismissible fade show" role='alert'>
    <%= success %>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<!-- checks if error is there and is not empty -->
<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role='alert'>
        <%= error %>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>